# Created by .ignore support plugin (hsz.mobi)
/shelf/
/workspace.xml
*.model
*.predict
*.txt
*.cvs
*.json
Competition/
emoji/
kiana/
data
.idea/
/*data*
stopwords
*ans*
*res*
/hw4/ub_sample_data.csv
/checkpoint
